<footer class="page-footer">
    <div class="font-13">@(DateTime.Now.Year) © <b>FarmCo</b> - Save your time, choose the best</div>
    <div>
        <a class="px-3 pl-4" href="/" target="_blank">Contact</a>
        <a class="px-3" href="/" target="_blank">Docs</a>
    </div>
    <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
</footer>